{% extends 'base.html' %}

{% block title %}
Post
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col s6">
      <h2>{{ post.title }}</h2>
      <div class="card">
          <div class="card-content">
          <img src="{{post.user.profile.avatar.url}}" width=50 height=70>
          <p>"{{ post.content }}"</p>
            <a href="{% url 'view_city' post.city.id %}">
            </a>
            <p>Submitted by: {{ post.user }} on {{ post.timestamp }}</p>

          </div>
        </div>
      <h6>See more posts about <a href="{% url 'view_city' post.city.slug %}">{{ post.city }}</a></h6>
    
      <h4>Add Comment</h4>
      <div class="card">
        <form action="{% url 'add_comment' post.id %}" method="POST">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit" class="btn-small" value="Add Comment">
        </form>
      </div>
    </div>
    
    <div class="col s6">
      <h4>View Comments (<span>{{comment_count}}</span>)</h4>
      {% for comment in post.comment_set.all %}
      <div class="card">
          <div class="card-content">
          <img src="{{comment.user.profile.avatar.url}}" width=50 height=70>
          <p><strong>{{ comment.title }}</strong></p>
          <p>"{{ comment.content }}"</p>
            <a href="{% url 'view_city' post.city.id %}">
            </a>
            <p>Submitted by: {{ comment.user }} on {{ comment.timestamp }}</p>
          {% if request.user == comment.user %}
          <a href="{% url 'delete_comment' post.id comment.id %}" type="submit" class="btn-small red darken-4">
            Delete Comment
          </a>
          <a class="btn-small edit-button">
            Edit Comment
          </a>
          <form class="edit-form" action="{% url 'edit_comment' post.id comment.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" class="btn-small" value="Edit Comment">
          </form>
          {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}