{% extends 'base.html' %}

{% block title %}
About the Developers
{% endblock %}

{% block content %}

  <h2 class="about-header">about the developers</h2>

 <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="row valign-wrapper">
          <div class="test">
            <div class="col s4">
              <img src="/static/images/Ben.heathman.jpeg" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s7">
              <span class="black-text">
                <p><br>Benjamin Closson is a Full Stack Developer with a background in the hospitality industry. He is passionate about creating exceptional experiences and developing programs to enrich the lives of clients and users.</p>
              </span>
          </div>
        </div>
      </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="row valign-wrapper">
          <div class="test">
            <div class="col s3">
              <img src="/static/images/IMG_4683.JPG" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s7">
              <span class="black-text">
                <p><br>Laura Pease is a Full Stack Developer based in Nashville, TN with a background in tour management. With this background, Laura is able to bring her strong work ethic and detail-oriented nature to fulfill the needs of clients and create new and engaging products.</p>
              </span>
          </div>
        </div>
      </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="row valign-wrapper">
          <div class="test">
            <div class="col s3">
              <img src="/static/images/William_VanHook.jpeg" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s7">
              <span class="black-text">
                <p><br>William VanHook is a full-stack web developer with education and accounting background and  proven experience in collaborating with internal teams and external clients. I am focused on  identifying technical issues and implementing effective solutions for client success.</p>
              </span>
          </div>
        </div>
      </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="row valign-wrapper">
          <div class="test">
            <div class="col s3">
              <img src="/static/images/Juliana.png" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s6">
              <span class="black-text">
                <p><br>Juliana Zlatevski is a software engineer based in Fargo, ND and has a background in digital marketing. In her free-time she enjoys playing bass.</p>
              </span>
          </div>
        </div>
      </div>
      </div>
     
  

{% endblock %}