{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<main class="video-container">
  <video autoplay muted loop id="header-video">
    <source src="/static/videos/balloonsvideo.mp4" type="video/mp4">
  </video>
</main>


<h4 class="hero-header">wayfarer is...</h4>
<h6 id="about-wayfarer1">a place to share your world</h6>
<h6 id="about-wayfarer2">a place to learn about the world around you</h6>
<h6 id="about-wayfarer3">a place to find the world you have yet to see</h6>
<h6 id="about-wayfarer4">to get started: sign up to join our community of world travelers</h6>
<h6 id="about-wayfarer5">visit our extensive list of cities from around the world </h6>
<h6 id="about-wayfarer6">post to let the wayfarer community know what to do, where to go, and what to see</h6>
<h6 id="about-wayfarer7"> wayfarer: share your world.  




{% endblock %}