{% extends 'base.html' %}

{% block title %}
Profile Home
{% endblock %}

{% block content %}

  <h1>Profile Home</h1>

  <div class="row">
    <div class="col s12">
      <div class="card">
          <div class="card-content">
            <span class="card-title">{{ profile.name }}</span>
            <p>Current city: {{profile.current_city}}</p>
            <p>Joined on: {{ profile.join_date }}</p>
            <img src="{{ profile.avatar.url }}">
          </div>
          <a href="{% url 'edit_profile' profile.id %}" type="submit" class="btn-small">
            Edit
          </a>
      </div>
  
      <h3>Posts by {{ user.username }}</h3>
      <div class="card">
        <div class="card-content">
          {% for post in posts %}
          <a href="{% url 'view_post' post.id %}">
            <span class="card-title">{{ post.title }}</span>
          </a>
          <a href="{% url 'view_city' post.city.id %}">{{ post.city }}</a>
        </div>
          {% endfor %}
      </div>
    </div>
    
  </div>

{% endblock %}