{% extends 'base.html' %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

  <h1>Profile Page</h1>

  <div class="row">
    <div class="col s12">
      <div class="card">
          <div class="card-content">
            <span class="card-title">{{ profile.name }}</span>
            <p>Current City: {{profile.current_city}}</p>
            <p>Join Date: {{ profile.join_date }}</p>
            <img src="{{ profile.avatar.url }}">
          </div>
      </div>
      <a href="{% url 'edit_profile' profile.id %}" type="submit" class="btn-small">
        Edit
      </a>
      <div class="card">
        <div class="card-content">
          {% for post in posts %}
          <a href="{% url 'view_post' post.id %}">
            <span class="card-title">{{ post.title }}</span>
          </a>
        </div>
          {% endfor %}
      </div>
    </div>
    
  </div>

{% endblock %}