{% extends 'base.html' %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block content %}
  

  <div class="row">
    <div class="col s4">
      <div class="card">
          <div class="card-content profile-card">
          <img class="profile-avatar" src="{{ profile.avatar.url }}">
            <h1 class="profile-header">{{ user.username }}</h1>
            <p>Current city: {{profile.current_city}}</p>
            <p>Joined on: {{ profile.join_date }}</p>

          <div class='edit-btn'>

            
          
          <a href="{% url 'edit_profile' profile.id %}" type="submit" class="btn-small">
          Edit Profile</a>
          </div>
          </div>
      </div>
      </div>
  
  <div class="col s8">
      <h3 class="profile-posts-header">Posts by {{ user.username }}</h3>
      <div class="card">
        <div class="card-content">
        <ol>
          {% for post in posts %}
          <li><a href="{% url 'view_post' post.id %}">
            <p>{{ post.title }}</p>
          </a></li>
          {% endfor %}
          </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}