{% extends 'base.html' %}

{% block title %}
City Page
{% endblock %}

{% block content %}

  <h1>{{city.name}}</h1>

  <div class="row">
    <div class="col s12">
      <img src="{{ city.image.url }}">
      {% for post in city.post_set.all %}
      <div class="card">
          <div class="card-content">
            <!-- <span class="card-title">{{ post.title }}</span> -->
            <p>Title: {{post.title}}</p>
            <p>{{ post.content }}</p>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}