{% extends 'base.html' %}

{% block title %}
City Page
{% endblock %}

{% block content %}

  <h1>{{city.name}}</h1>

  <div class="row">
    <div class="col s12">
      <img src="{{ city.image.url }}">
      <h2>View Posts</h2>
      {% for post in posts %}
      <div class="card">
          <div class="card-content">
            <a href="{% url 'view_post' post.id %}">
              <p>Title: {{post.title}}</p>
            </a>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}